<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>editSpecialistFormA</servlet-name>
        <servlet-class>EditSpecialistFormA</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlockSpecialistServlet</servlet-name>
        <servlet-class>BlockSpecialistServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UnblockSpecialistServlet</servlet-name>
        <servlet-class>UnblockSpecialistServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditUserFormA</servlet-name>
        <servlet-class>EditUserFormA</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlockUserServlet</servlet-name>
        <servlet-class>BlockUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UnblockUserServlet</servlet-name>
        <servlet-class>UnblockUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>editSpecialistFormA</servlet-name>
        <url-pattern>/editSpecialistFormA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlockSpecialistServlet</servlet-name>
        <url-pattern>/BlockSpecialistServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UnblockSpecialistServlet</servlet-name>
        <url-pattern>/UnblockSpecialistServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditUserFormA</servlet-name>
        <url-pattern>/EditUserFormA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlockUserServlet</servlet-name>
        <url-pattern>/BlockUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UnblockUserServlet</servlet-name>
        <url-pattern>/UnblockUserServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
